@import url('https://fonts.googleapis.com/css2?family=Uchen&display=swap');
*{
			margin: 0;
			padding: 0;
			box-sizing: border-box;}
			a{
	text-decoration: none;
}
			nav{
				display: flex;
				justify-content: space-around;
				align-items: center;
				background-color: rgb(14 236 253 / 50%);
				height: 100px;
				flex-wrap: wrap;

			}
			.logo{
				
				width: 300px;
				
				box-shadow: rgba(, 0, 80, 90.8);
				
				/*line-height: 50px;*/
				color: limegreen;
			}
			.logo .limg{
				width: 70%;
				height: 80px;
				vertical-align: middle;
			}
.menu ul{
list-style-type: none;


}
.menu li{
	position: relative;
	display: inline-block;
	
}
.menu li a{
	text-decoration: none;
font-size: 22px;
padding: 8px 16px;
color: grey;
}
.submenu1{
	z-index: 1;
	position: absolute;
	top: 100%;
	left:0%;
	border: 1px solid grey;
	color: white;
	background-color: rgb(14 236 253 / 90%);
	box-shadow: rgba(0, 0, 0, 0.2) rgba(0, 0, 0, 0.1);
	text-align: center;
transition: all 0.8s;
display: none;
border-radius: 14px 0 12px 0;
}
.submenu1 li a{
display: block;
text-decoration: none;
color: grey;
padding: 8px;
width: 120px;

}

.menu li:hover .submenu1 {
display: block;
}
.submenu2{
	position: absolute;
	top: -10%;
	left:100%;
	border-radius: 14px 0 12px 0;transition: all 0.8s;
	color: white;
	background-color: rgb(14 236 253 / 80%);
	text-align: center;
display: none;

}
.submenu2 li a{
display: block;
padding: 10px;
width:120px;
color: grey;
	}

.submenu3{
	position: absolute;
	top: -100%;
	right:100%;
	transition: all 0.8s;
	color: white;
	background-color: rgb(14 236 253 / 80%);
	text-align: center;
border-radius: 0 14px 12px 0;
display: none;
}
.submenu3 li a{
display: block;
padding: 10px;
width:100px;
color: grey;
	}
.submenu1 li:hover .submenu2 {
display: block;}
.submenu1 li:hover .submenu3 {
display: block;}
i.p{
margin-left: -11px;
color: grey;
font-size: 18px;

}
i.r{
	margin-left: 8px;
	color: white;
}
i.l{
	position: absolute;
	left: 12px;
	color: white;
}
.submenu4{
	position: absolute;
	top: -50%;
	left:100%;
	transition: all 0.8s;
	color: white;
	background-color: rgb(14 236 253 / 80%);
	text-align: center;
border-radius: 0 14px 12px 0;
display: none;
}
.submenu4 li a{
display: block;
padding: 10px;
width:100px;
color: grey;
	}
.submenu2 li:hover .submenu4 {
display: block;}

.submenu5{
	z-index: 1;
	position: absolute;
	top: 100%;
	left:0%;
	border: 1px solid grey;
	color: white;
	background-color: rgb(14 236 253 / 90%);
	box-shadow: rgba(0, 0, 0, 0.2) rgba(0, 0, 0, 0.1);
	text-align: center;
transition: all 0.8s;
display: none;
border-radius: 14px 0 12px 0;
}

.service{
	padding: 0px;
	text-align: center;
}
.service a{
	display: block;
	padding: 9px;
	width: 160px;
}

.menu li:hover .submenu5{
	display: block;
}

.submenu6{
position: absolute;
top: -30%;
right: 100%;
display: none;
text-align: center;
color: white;background-color: rgb(14 236 253 / 90%);border-radius: 14px 8px 10px 15px;
box-shadow: rgba(0, 0, 0, 0.2) rgba(0, 0, 0, 0.1);
}

.submenu6 a{
	display: block;
	width: 120px;
	padding: 14px;
}
.submenu5 li:hover .submenu6{
	display: block;
}
i.l4{
	position: absolute;
	left: 4px;
	top: 20px;
	color: white;
}

.container{
	position: relative;

}
.icon{
display: none;
}
.icon a{
	text-decoration: none;
	color: black;
	font-size: 30px;
}
.slider img{
vertical-align:center;
width: 100%;
height: 580px;

}
.next, .prev{
position: absolute;
top: 50%;
width: 60px;
font-weight: bolder;
color: white;
margin-top:-25px ;
font-size: 30px;
background-color: black;
	}
.next{
	left: 25px;
	border-radius: 18px 0 18px 0;
	box-shadow: 0.6px 0.8px 0.4px 1px #ccc;
}
.prev{
	right: 25px;border-radius:0 18px 0 18px ;
	box-shadow: 0.8px 0.8px 1px 1px white;
}


.container .atraction {
	position: absolute;
top: 50%;
left: 50%;
font-family: 'Uchen', serif;
transform: translate(-50%,-50%);
text-align: center;
/*opacity: 0.5;*/
transition: all 0.9s;
}
.atraction h2{
	border-radius: 12px;
	box-shadow: 1px 1px 1px 1px #ccc;
	background-color: whitesmoke;
	padding: 8px;
	opacity: 0.6;
}
.atraction button{
	width: 150px;
	cursor: pointer;
	height: 40px;
	font-size: 14px;
	font-weight: 200;
	font-family: 'Uchen', serif;
	margin-top: 14px;
	
	border-radius: 16px;
	background-color: whitesmoke;
	border: 1px solid limegreen;
	box-shadow: 1px 1.2px 2px 1.4px #ddd;
}
.atraction h2:hover{
	opacity: 1;
	transform: scaleX(1.2);
	border-radius: 30px;
}.atraction button:hover{
	background-color: limegreen;
	color: white;
	letter-spacing: 1.2px;
}
.atraction .bmi{
	opacity:0.8;
	width:300px;
	letter-spacing: 1.2px;
	background-color: dodgerblue;
	color:whitesmoke;
	padding:4px 15px ;

}
.container2{
	max-width: 80%;
	margin: 25px auto;
	background-color: #ddd;
}
.row{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
}
.container2 .card{
	width: 200px;
	height: 300px;
/*border: 1px solid black;*/
text-align: center;
margin: 20px 0;
 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.container2 .card img{
	width: 50%;
	height: 150px;
}
.card h2{
	letter-spacing: 1.4px;
	font-size: 17px;
	padding: 6px;
	font-family: 'Uchen', serif;
	margin: 0 8px;
}
.card p{
	font-family: 'Uchen', serif;
	font-size: 21px;
	font-weight: 300;
	
}.card a{
	border: 1px solid dodgerblue;
	padding: 8px;
	/*font-family: 'Uchen', serif;*/
	text-align: center;
	letter-spacing: 0.4px;
	
	
	display: block;
	
	box-shadow: 1px 1px 1px 1px grey;
}
.card a:hover{
background-color: dodgerblue;
color: white;
}
.marque{
	background-color: #000066;
	height: 120px;
	
	
}
.marque p{
	display: block;
	color: white;
	letter-spacing: 1.5px;
	padding: 7px 16px;
	font-family: 'Uchen', serif;
}
.marque i {
	font-size: 30px;
	padding: 10px;
}
.contact{
	width: 20%;
	z-index: 1;

}
.contact a{
	text-decoration: none;padding: 12px;
	border: 1px solid;
	margin-left: 4px;
	background-color: whitesmoke;
	border-radius: 50%;
	display: inline-block;
	position: relative;
	line-height: 20px;

}
 .contact i{
	font-size: 25px;


}
   a i.w{
	color: green;
}
  a i.i{
	color: 
}
  a i.f{
	color:blue;
}
  a i.t{
	color:dodgerblue;
}
.container3{
	width: 90%;
	margin: 25px auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	text-align: center;
	background-color: dodgerblue;
}
.c2{
	width: 50%;
	height: 700px;
	font-size: 20px;
	color: white;
	padding: 12px;

}
.c2 form{
width: 100%;
}
.c2 input[type="text"],input[type="email"],input[type="number"]{
	width: 100%;
	height: 30px;
	outline: none;
	border: none;
	border-radius: 12px;
}
.c2 input[type="radio"]{
	margin-left: 15px;
	font-size: 25px;
}
.c2 input[type="submit"]{
	width: 150px;
	padding: 8px;
	text-align: center;
	border: none;
	position: relative;
	left: 40%;
	outline: none;
	font-size:18px;
	color: white;
	background-color: limegreen;
	border-radius: 10px;
	display: block;
}
textarea{
	text-align: center;
	width: 80%;
	margin: auto;
	height: 50px;
	border: none;
	padding: 9px;
	font-size: 18px;
	outline: none;
	border-radius: 12px;

}
.c1{
	width: 50%;
	font-family: 'Uchen', serif;
	/*border-right: 1px dotted; black;*/
}
.c1 img{
	width: 80%;
	height: 250px;
	display: block;
	margin: 15px auto;
}
.c2 p{
	font-family: 'Uchen', serif;
}
footer{
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: darkcyan;
	flex-wrap: wrap;
	/*height: 300px;*/
	height: auto;
	text-align: justify;

}
footer p{
	font-family: 'Uchen', serif;
	display: block;
}
footer h2{
	font-size: 18px;
	letter-spacing: 0.7px;
	font-family: 'Uchen', serif;
	text-align: center;
	text-decoration: underline;
}

.about{
	width: 20%;
	/*background-color: darkred;*/
}
.about a{
	text-decoration: none;
	display: block;
	font-size: 16px;
	color: white;
	padding: 10px;
}
.links{
	width: 20%;
	/*padding: 10px 12px;*/
	display: inline-block;
	font-size: 30px;
}
.links a{
	display: inline-block;
	padding: 8px 9px;
}
.car a{
	text-decoration: none;
	display: block;
	font-size: 16px;
	color: white;
	padding: 9px;
}
.services{
	width: 20%;
	/*background-color: red;*/
}
.services a{
	text-decoration: none;
	display: block;
	font-size: 16px;
	color: white;
	padding: 8px;
}
.car{
	width: 30%;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	/*background-color: black;*/
}

/*for responsivenes*/

@media screen and (max-width: 600px){
	
nav{
	width: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	/*flex-wrap: nowrap;*/
	height: auto;
}

	.logo{
		width: 50%;
		}
	.logo img{
		display: block;
		}
	.menu{
padding-top: 25px;
		width:250px;
		position: absolute;
		top: 0;
		left: 0;
		display: none;
		text-align: center;
		height:auto;
		z-index: 2;
		background-color: black;
	}
	.menu li a{
		width: 180px;
		font-size: 16px;
		display: block;
		color: white;
		margin: 5px ;
		padding: 4px;
		
	}
	.icon a i{
		font-size: 18px;
	}
	
	 .submenu1{
		display: none;
		position: relative;
		width: 180px;
		background-color: inherit;
		border: none;
		
	}
	.submenu1 li a{
		font-size: 14px;
		display: block;
		width: 100px;
		padding: 1px;
		border-bottom: 1px solid grey;
	}
	i.l4{
		position: absolute;
	top: 5px;
		left: 105px;
	}
	.submenu2{
		display:none;
		position: relative;
		left: 0px;
		width: 180px;
		background-color: inherit;
	}
	.submenu2 li a{
		font-size: 14px;
		display: block;
		width: 100px;
		padding: 1px;
	}
	.submenu3{
		display: none;
		position: relative;
		left: 0px;
		width: 180px;
		background-color: inherit;
	}
	.submenu4{
		display:none;
		position: relative;
		left: 0px;
		width: 180px;
		background-color: inherit;
	}
	.submenu5{
		display:none;
		position: relative;
		left: 0px;
		width: 180px;
		background-color: inherit;
		border: none;
	}
	.submenu6{
		display: none;
		position: relative;
		left: 0px;
		width: 180px;

		background-color: inherit;
	}
	.submenu3 li a{
		font-size: 12px;
		display: block;
		width: 100px;
		padding: 1px;
	}
	.menu i.p{
		display: block;
		position: absolute;
		right: 49px;

		top: 10px;
	}
	.submenu4 li a{
		font-size: 12px;
		display: block;
		width: 100px;
		padding: 1px;
	}
	.submenu5 li a{
		font-size: 12px;
		display: block;
		width: 100px;
		padding: 1px;
	}
	.submenu6 li a{
		font-size: 12px;
		display: block;
		width: 100px;
		padding: 1px;
		border-bottom: 1px solid grey;
	}
	.contact{
		width:100%;
		padding: 8px 0;
background-color: red;
		text-align: right;
		z-index: 1;
}
.contact a{

	display: inline-block;
	font-size: 15px;
}
.contact a i{
	font-size: 15px;
}
.icon{
	display: block;
	position: absolute;
	top: 25px;
	right: 12px;
}
.container{
	
	width: 100%;
}
.container img{
	width: 100%;
	height: 300px;
	display: block;
}
.next,.prev{
	width: 25px;
	height: auto;
	color: black;
	font-size: 22px;
	background-color: white;
}
.next{
	position: absolute;
	left: 10px;
}
.prev{
	position: absolute;
	right: 10px;
}
.atraction{
	font-size: 15px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.atraction h2{
	width: 140px;
	font-size: 13px;
	padding: 4px;
}
.atraction button{
	width: 120px;
	font-size: 12px;
	height: auto;
	padding: 4px;
}
.atraction button:hover{
	background-color: limegreen;
padding: 6px 2px;
}
.atraction .bmi{
	width: 140px;
	font-size: 13px;
	padding: 4px;
}
.marque{
	width: 100%;
	height: 100px;
}
.marque p{
	font-size: 12px;
	padding: 6px 4px;
}
.marque i{
	font-size: 18px;
}
.container3{
width: 100%;
display: flex;

justify-content: center;
flex-wrap: wrap;
}
.c1{
	width: 100%;
	padding: 4px;font-size: 14px;
}
.c2{
	width: 100%;
}
.c2 input[type="submit"]{
	width: 90px;
	/*background-color: ;*/
	font-size: 13px;
}
.c2 p{
font-size: 12px;
padding: 4px 3px;
}
.c2 h2{
	font-size: 18px;
	margin: 8px;
}
.c2 form{
	font-size: 14px;
}
.c2 textarea{
	width: 90%;
	height: 80px;
}
footer .about,.services,.car{
	width: 50%;
	text-align: left;
}
footer .links {
	width: 50%;

	text-align: center;
}
.links a{
	display: block;
}



}